<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @comentario.titulo %>
</p>

<p>
  <b>Obs:</b>
  <%= @comentario.obs %>
</p>


<%= link_to 'Edit', edit_comentario_path(@comentario) %> |
<%= link_to 'Back', comentarios_path %>
