<h2><%= link_to image_tag('usuario.png') %> Usuarios</h2>

<table class='webgrid'>
  <tr class='webgrid-header'>
	<th>ID</th>
    <th>Login</th>
    <th>Nombre</th>
    <th>Tipo</th>
    <th>Creado</th>
    <th>Modificado</th>
    <th></th>
    <th></th>
  </tr>

<% @usuarios.each do |registro| %>
  <tr class='webgrid-row-style'>
	<td><%= registro.id %></td>
	<td><%= registro.login %></td>
    <td><%= registro.nombre %></td>
    <td><%= registro.usuario_tipo.nombre %></td>
    <td><%= ver_fecha_df(registro.created_at) %></td>
    <td><%= ver_fecha_df(registro.updated_at) %></td>
    <td><%= link_to image_tag('edit.gif'),   edit_usuario_path(registro) %></td>
    <td><%= link_to image_tag('delete.gif'), registro, confirm: 'Esta Seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to image_tag('crear.gif'), new_usuario_path %>
